<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bdqn.dao.UserMapper">
    <select id="list" resultType="User">
        select * from USER
    </select>

    <insert id="add" parameterType="String">
        insert into USER (username,password) values (#{username},#{password})
    </insert>

    <update id="update" parameterType="User">
        update USER set username=#{username} where id=#{id}
    </update>

    <delete id="delete" parameterType="Integer">
        delete from user where id=#{id}
    </delete>

    <select id="getUserById" resultType="User" parameterType="int">
        select * from user where id=#{id}
    </select>

</mapper>